.cart-item-container{
    background-color: rgba(255, 255, 255, 0.822);
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.cart-item-image{
    height: auto;
    width: 10rem;
    background-position: center;
    background-size: cover;
}
.cart-item-details{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.cart-item-details-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cart-item-details-all{
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.cart-item-delete:hover{
    color: rgb(138, 0, 0);
    cursor: pointer;
}
i{
    transition: all 0.1s linear;
}
.cart-item-delete:hover i{
   transform: scale(1.2);
}
a{
    padding: 0;
}