.validater-div{
    background-color: rgb(255, 0, 0);
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    font-weight: 900;
    position: fixed;
    transform: translateY(-100%);
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0px 0px 7px 7px;
    font-size: 1rem;
}
.enter{
    animation: entry 5s;
}
@keyframes entry{
    0%, 100%{
        transform: translateY(-100%);
    }
    10%,90%{
        top: 4rem;
        transform: translateY(0%);
    }
}
@media only screen and (max-width:600px){
    .validater-div{
        font-size: 0.6rem;
        width: 80vw;
        height: 2rem;
    }
    @keyframes entry{
        0%, 100%{
            transform: translateY(-100%);
        }
        10%,90%{
            top: 4rem;
            transform: translateY(0%);
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 850px){
    .validater-div{
        font-size: 0.8rem;
        width: 40vw;
        height: 5vh;
    }
    @keyframes entry{
        0%, 100%{
            transform: translateY(-100%);
        }
        10%,90%{
            top: 3rem;
            transform: translateY(0%);
        }
    }
}
@media only screen and (min-width: 850px) and (max-width: 1250px){
    .validater-div{
        font-size: 1rem;
        width: 40vw;
        height: 5vh;
    }
    @keyframes entry{
        0%, 100%{
            transform: translateY(-100%);
        }
        10%,90%{
            top: 4rem;
            transform: translateY(0%);
        }
    }
}