* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  }
body {
  overflow-x: hidden;
}
.header {
  background: rgba(0, 0, 0, 0.945);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  top: 0%;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.header-logo {
  font-size: 2.7rem;
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 7%;
}
.logo-name {
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: white;
  padding-right: 10%;
}
.header-user {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.search-input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.search-input:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s linear;
}
.search {
  align-items: center;
  justify-content: center;
  display: flex;

}
.btn {
  background: linear-gradient(
    to right,
    #ff0000 30%,
    rgb(250, 231, 231) 45%,
    #ff0000 60%
  );
  background-size: 400%;
  background-position: right;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
  transition: all 0.4s;
}
.btn:hover {
  background-position: left;
}
a:hover {
  color: rgba(255, 255, 255, 0.658);
}
.burger div {
  height: 6px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.burger {
  display: none;
  cursor: pointer;
  padding-right: 10%;
  padding-left: 10%;
}
.toggle .line1 {
  transform: rotate(45deg) translateY(15px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translateY(-15px);
}
main {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading h1 {
  font-weight: 900;
  text-shadow: 2px 3px 3px rgba(204, 0, 119, 0.466);
}
.top-product {
  position: relative;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.top-product-img {
  background-image: url("airpods.jpg");
  width: 50vw;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-product-info {
  font-size: 2rem;
}
.various-products {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.various-products h1{
  margin-bottom: 50px;
  text-shadow: 2px 3px 3px rgba(204, 0, 119, 0.466);
}
.various-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
}

.left-symbol,
.right-symbol {
  font-size: 4rem;
  position: absolute;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.left-symbol {
  margin-left: 10px;
  align-items: center;
  left: 0;
}
.right-symbol {
  margin-right: 10px;
  align-items: center;
  right: 0;
}
.left-symbol:hover,
.right-symbol:hover {
  background-color: rgb(209, 206, 206);
}
.each-various-product {
  background-color: rgba(231, 231, 231, 0.692);
  padding: 10px;
}
.each-various-product > div{
  text-align: center;
}

.various-image {
  height: 200px;
  background-position: center;
  background-size: cover;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: underline;
  color: inherit;
}
.cred:hover{
  color:red;
}

.cred:hover i{
  transform: rotate(-45deg);
  transition: all 0.1s linear;
}

@media only screen and (max-width: 600px) {
  .various-container {
    grid-template-columns: auto;
  }
  html {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    margin-left: 10px;
    padding-top: 10px;
  }
  #logo {
    font-size: 2rem;
  }
  .header {
    height: 4rem;
  }
  .header-info {
    background-color: rgba(0, 0, 0, 0.945);
    position: absolute;
    width: 100vw;
    height: 100px;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    transform: translateX(100%);
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
  }
  .header-info-active{
    transform: translateX(0px) ; 
  }
  .cred{
    margin: 0px 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .top-product {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  .top-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
  }
  .top-product-img {
    width: 70vw;
  }
  .buy-now {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  html {
    overflow-x: auto;
  }
  .burger {
    display: block;
    margin-left: 10px;
    padding-top: 5px;
  }
  #logo {
    font-size: 2rem;
  }
  .header {
    height: 3rem;
  }
  .header-info {
    background-color: rgba(0, 0, 0, 0.945);
    position: absolute;
    width: 100vw;
    height: 20vh;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }
  .header-info-active{
    transform: translateX(0px) ; 
  }
  .cred{
    margin: 0px 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .top-product {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  .top-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
  }
  .top-product-img {
    width: 70vw;
  }
  .buy-now {
    margin-top: 10px;
  }
  .various-container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1250px){
  .various-container {
    grid-template-columns: auto auto auto;
  }
  html {
    overflow-x: auto;
  }
  .top-product {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  .top-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
  }
  .top-product-img {
    width: 70vw;
  }
  .buy-now {
    margin-top: 10px;
  }
  .header-user{
    font-size: 0.9rem;
  }
}

